
@{
    Page.Title = "视频管理";
    Layout = "~/views/shared/_SiteLayout.cshtml";

    var nianji = "";
    var xueke = "";
    var mingcheng = "";
    var fileName = "";
    if (IsPost)
    {
        nianji = Request.Form["weikeNianji"];
        xueke = Request.Form["weikeXueke"];
        mingcheng = Request.Form["weikeMingcheng"];
        fileName = nianji + "." + xueke + "." + mingcheng + ".mp4";
        var fileSavePath = "";
        var uploadedFile = Request.Files[0];
        fileName = Path.GetFileName(uploadedFile.FileName);
        fileSavePath = Server.MapPath("~/UploadedVideos/" +
          fileName);
        uploadedFile.SaveAs(fileSavePath);
        Response.Write("上传成功");
    }
}
<h1>上传视频</h1>
<form action="" enctype="multipart/form-data" method="post">
    <div class="row form-group">
        <div class="col-xs-3">
            <select id="weikeNianji" name="weikeNianji" class="form-control">
                <option selected>选择年级</option>
                @for (var i = 0; i < GlobalVar.pinyinGrade.Length; i++)
                {
                    <option value="@GlobalVar.pinyinGrade[i]">@GlobalVar.ChineseGrade[i]</option>
                }
            </select>
        </div>
        <div class="col-xs-3">
            <select class="form-control" id="weikeXueke" name="weikeXueke">
                <option selected>选择学科</option>
                @for (var i = 0; i < GlobalVar.pinyinSubject.Length; i++)
                {
                    <option value="@GlobalVar.pinyinSubject[i]">@GlobalVar.ChineseSubject[i]</option>
                }
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-3">
            <input type="text" class="form-control" placeholder="输入视频名称" />
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input type="file" class="filestyle" data-icon="true" data-input="false"
                 data-buttonText="&nbsp;选择文件" id="file-upload-0" name="file-upload-0">
                
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">上传</button>
                </span>
            </div><!-- /input-group -->
        </div>
    @section scripts{
        <script src="~/Scripts/bootstrap-filestyle.min.js"></script>       
        }
    </div><!-- /.row -->
</form>
