
@{
    Page.Title = "视频管理";
    Layout = "~/views/shared/_SiteLayout.cshtml";


    var fileName = "";
    if (IsPost)
    {
        var fileSavePath = "";
        var uploadedFile = Request.Files[0];
        fileName = Path.GetFileName(uploadedFile.FileName);
        fileSavePath = Server.MapPath("~/UploadedVideos/" +
          fileName);
        uploadedFile.SaveAs(fileSavePath);
        Response.Write("上传成功");
    }
}
<h1>上传视频</h1>
<form action="" enctype="multipart/form-data" method="post">
    <div class="row form-group">
        <div class="col-xs-3">
            <select id="weikeNianji" name="weikeNianji" class="form-control">
                <option selected>选择年级</option>
                <option value="1">初一</option>
                <option value="2">初二</option>
                <option value="3">初三</option>
                <option value="4">中一</option>
                <option value="4">中二</option>
                <option value="4">中三</option>
            </select>
        </div>
        <div class="col-xs-3">
            <select class="form-control" id="xueke" name="xueke">
                <option selected>选择学科</option>
                <option value="语文">语文</option>
                <option value="数学">数学</option>
                <option value="英语">英语</option>
                <option value="政治">政治</option>
                <option value="历史">历史</option>
                <option value="地理">地理</option>
                <option value="物理">物理</option>
                <option value="化学">化学</option>、
                <option value="生物">生物</option>
                <option value="音乐">音乐</option>
                <option value="美术">美术</option>
                <option value="信息技术">信息技术</option>
                <option value="体操">体操</option>
                <option value="排球">排球</option>
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-3">
            <input type="text" class="form-control" placeholder="输入视频名称" />
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input type="file" class="filestyle" data-icon="true" data-input="false"
                 data-buttonText="&nbsp;选择文件" id="file-upload-0" name="file-upload-0">
                
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">上传</button>
                </span>
            </div><!-- /input-group -->
        </div>
    @section scripts{
        <script src="~/Scripts/bootstrap-filestyle.min.js"></script>       
        }
    </div><!-- /.row -->
</form>
