body {
    background:url(../Content/Images/site_background.jpg) no-repeat fixed center;
    background-size:cover;
    padding-top:90px;
}

.zhegai {
    opacity: 0.7;
    filter: alpha(opacity=30);
    background-color: #2096BA;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

.denglu {
    margin:0 auto;
    clear:both;
    
    /*padding:15px 5px 15px;*/
    
    position: absolute;
    bottom: 200px;
}

.front {
    
    margin: 0 auto;
    clear: both;
    position: relative;
    /*margin-bottom:90px;*/
    margin-bottom:20px;
}

.topspace {
    
}
